.mct_optin{
    display:none;
    font-family:verdana;
}
.mct_optin_overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index:99999;
    top:0px;
    left:0px;
    background: rgba(0,0,0,0.8);
}

.mct_optin_content {
    position: fixed;
    top: 20px;
    z-index:99999;
    left: 20%;
    background: #fff;
    width: 600px;
}

.mct_optin_inner_content {
    height:100%;
    position: relative;
    overflow-y:auto;
}

.mct_optin_upper_border {
    height: 12px;
}

.mct_optin_upper_border div {
    width: 25%;
    float: left;
    height: 100%;
}

.mct_optin_upper_border div:nth-child(1) {
    background: #F75E31;
}

.mct_optin_upper_border div:nth-child(2) {
    background: #65D20F;
}

.mct_optin_upper_border div:nth-child(3) {
    background: #DB4B00;
}

.mct_optin_upper_border div:nth-child(4) {
    background: #17b4e9;
}

.mct_optin_upper_content {
    background: white;
    text-align: center;
    padding: 20px;
}

.mct_optin_upper_content h3 {
    color: #000000;
    margin: 10px 0px 0px 0px;
}

.mct_optin_upper_content h1 {
    color: #EC3600;
}

.mct_optin_form_content {
    padding: 20px;
}

.mct_optin_form_email {
    width: 100%;
    display: block;
    padding: 10px 0px;
    font-size: 20px;
    border-radius:0px;
    text-align: center;
    border: 1px solid #E2E2E2;
}

.mct_optin_form_submit_btn {
    margin-top: 10px;
    width: 100%;
    border-radius:0px;
    padding: 10px;
    background: #17B4E9;
    color: #fff;
    border: 1px solid #00A4DB;
    font-size: 25px;
}

a.mct_optin_close_btn {
    position: absolute;
    top: -10px;
    right: -10px;
    text-decoration: none;
    font-size: 26px;
    color: #fff;
    background: #3d3d3d;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 5px #fff;
    line-height:30px;
    z-index:99999;
}
a.mct_optin_close_btn span {
  color: #fff;
}
.mct_optin_close_text{
  margin: 0px 0px 10px 0px;
  color: #EC3600;
  text-align:center;
  cursor: pointer;
}
@media(max-width:480px){
  .mct_optin_upper_content{padding:10px;}
  .mct_optin_upper_content h1{font-size:20px}
  .mct_optin_upper_content h3,.mct_optin_close_text{font-size:12px;line-height:18px;}
}
